<%= provide(:title, @taxon.name)%>
<%= render 'page_header', taxon: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'slidebar_categories', taxonomies: @taxonomies %>
        <%= render 'sidebar_colors' %>
        <%= render 'sidebar_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter' %>
        <div class="row">
          <%= render partial: 'product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'brands_logo' %>
